#inputBox {
  width: 100%;
  height: 3em;
  border-radius: 2em;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 1em;
  border-radius: 2em;
  width: 6em;
  height: 3em;
}

#llmResponse, #llmThoughts {
  display: flex;
  text-align: left;
  border: 1px solid lightgrey;
}

#llmResponse h3, #llmThoughts h3 {
  text-align: left;
  padding: 1em;
}

#llmResponse p, #llmThoughts p {
  width: 40em;
}